<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client</title>
</head>
<body>
<h1>Client</h1>

<div th:if="${message}">
    <p th:text="${message}"></p>
</div>

<table style="border: 1px; text-align: center">
    <thead>
    <tr>
        <th>UUID</th>
        <th>FirstName</th>
        <th>Surname</th>
        <th>Username</th>
        <th>EmailAddress</th>
        <th>ClientType</th>
        <th>Role</th>
        <th>Active</th>
        <th>CurrentRents</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${client.getEntityId().getUuid().toString()}"></td>
        <td th:text="${client.firstName}"></td>
        <td th:text="${client.getSurname()}"></td>
        <td th:text="${client.getUsername()}"></td>
        <td th:text="${client.getEmailAddress()}"></td>
        <td th:text="${client.getClientType()}"></td>
        <td th:text="${client.getRole()}"></td>
        <td th:text="${client.isActive()}"></td>
        <td th:text="${client.getCurrentRents()}"></td>
<!--        <td>-->
<!--            <form th:action="@{/delete/{id}(id=${client})}" method="POST">-->
<!--                <button type="submit">Delete</button>-->
<!--            </form>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>

</body>
</html>