<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>List of Rents</title>
</head>
<body>
<h1>List of Rents</h1>

<div th:if="${message}">
  <p th:text="${message}"></p>
</div>

<table style="border: 1px; text-align: center">
  <thead>
  <tr>
    <th>ID</th>
    <th>Usernme</th>
    <th>VMachine Info</th>
    <th>Rent Cost</th>
    <th>Delete VMachine</th>
    <th>Details</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="rent : ${rents}">
    <td th:text="${rent.entityId.uuid}"></td>
    <td th:text="${rent.client.username}"></td>
    <td th:text="${rent.vmachine}"></td>
    <td th:text="${rent.rentCost}"></td>
    <td>
      <form th:action="@{rent/endRent/{id}(id=${rent.entityId.uuid})}" method="GET">
        <button type="submit">End Rent</button>
      </form>
    </td>
    <td>
      <form th:action="@{rent/{id}(id=${rent.entityId.uuid})}" method="GET">
        <button type="submit">More Info</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>