<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
  <link href="/style.css" rel="stylesheet">
  <meta charset="UTF-8">
  <title th:text="#{Rent}"></title>
</head>
<body>
<div th:replace="~{panels/header :: header}"></div>
<div th:replace="~{panels/sidebar :: sidebar}"></div>
<h1 th:text="#{Rent}"></h1>

<div th:if="${message}">
  <p th:text="${message}"></p>
</div>

<table>
  <tbody>
    <tr>
      <td th:text="#{uuid}"></td>
      <td th:text="${rent.getEntityId().getUuid().toString()}"></td>
    </tr>
    <tr>
      <td th:text="#{ClientUsername}"></td>
      <td th:text="${rent.client.username}"></td>
    </tr>
    <tr>
      <td th:text="#{ClientName}"></td>
      <td th:text="${rent.client.getFirstName()}"></td>
    </tr>
    <tr>
      <td th:text="#{ClientSurame}"></td>
      <td th:text="${rent.client.getSurname()}"></td>
    </tr>
    <tr>
      <td th:text="#{VMachineCPUNumber}"></td>
      <td th:text="${rent.getVMachine().getCPUNumber()}"></td>
    </tr>
  </tbody>
<!--  TODO więcej informacji-->
</table>
<div th:replace="~{panels/footer :: footer}"></div>
</body>
</html>