<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <link href="/style.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title th:text="#{ListofVirtualMachines}"></title>
</head>
<body>
<div th:replace="~{panels/header :: header}"></div>
<div th:replace="~{panels/sidebar :: sidebar}"></div>
<div class="content">
    <h1 th:text="#{ListofVirtualMachines}"></h1>

    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <table style="border: 1px; text-align: center">
        <thead>
        <tr>
            <th th:text="#{uuid}"></th>
            <th th:text="#{CPUNumber}"></th>
            <th th:text="#{RAMSize}"></th>
            <th th:text="#{ActualRentalPrice}"></th>
            <th th:text="#{DeleteVMachine}"></th>
            <th th:text="#{Details}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vm : ${vms}">
            <td th:text="${vm.entityId.uuid}"></td>
            <td th:text="${vm.cpunumber}"></td>
            <td th:text="${vm.ramSize}"></td>
            <td th:text="${vm.actualRentalPrice}"></td>
            <td>
                <form th:action="@{vmachine/delete/{id}(id=${vm.entityId.uuid})}" method="POST" onsubmit="return confirmAction()">
                    <button type="submit" th:text="#{Delete}"></button>
                </form>
            </td>
            <td>
                <form th:action="@{vmachine/{id}(id=${vm.entityId.uuid})}" method="GET">
                    <button type="submit" th:text="#{MoreInfo}"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{panels/footer :: footer}"></div>
<script>
    function confirmAction() {
        const sure = window.confirm('Are you sure?');
        return sure;
    }
</script>
</body>
</html>